

.wrapper{
    width : 100hv;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

        .container{
            max-width: 500px;
            min-width: 300px;
            height: 500px;
            width: 400px;
            background-color: #fff;
            border-radius: 20px;
            margin : 20px auto;

        }
}

