.home_product_carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    column-gap: 40px;
    row-gap: 30px;
    background: #f7f7f7;
    padding: 30px 0px;

    & .product_single_item {
        position: relative;
        padding: 10px 10px;
        background: #fff;
        text-align: center;
        &:hover {
            & .add_to_cart {
                opacity: 0.8;
                visibility: visible;
                top: 40%;
            }
        }
        & img {
            width: 100%;
            height: auto;
        }
        & .product_thumb {
            position: relative;
            overflow: hidden;
        }
        & .product_name {
            margin-bottom: 4px;
            padding-top: 5%;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
        }

        & .product_rating {
            & ul {
                display: flex;
                justify-content: center;
                font-size: 12px;
                & li {
                    padding: 0 2px;
                    &:hover {
                        color: #febc8b;
                    }
                }
            }
        }
        & .price_box {
            transition: 0.3s;
            margin-top: 12px;

            .old_price {
                text-decoration: line-through;
                margin-right: 8px;
                font-size: 15px;
                font-weight: 500;
                line-height: 16px;
                color: #1e1e1f;
            }

            .old_price-noDiscount {
                text-decoration: none;
            }
            & .current_price {
                font-size: 15px;
                font-weight: 500;
                line-height: 16px;
                color: #dc3545;
            }
        }

        & .add_to_cart {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            z-index: 9;

            & span {
                line-height: 45px;
                height: 45px;
                display: inline-block;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 30px;
                width: 100%;
                background: #999;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: #ff1d58;
                    color: #fff;
                }
            }
        }

        & .label_sale {
            position: absolute;
            top: 0;
            right: 0;
            color: #ffffff;
            background: #febc8b;
            font-size: 12px;
            font-weight: 400;
            height: 20px;
            line-height: 20px;
            padding: 0 7px;
            text-align: center;
            display: block;
            text-transform: uppercase;
        }
    }
}

.pagination-wrapper {
    padding-bottom: 30px;
}

.Header_nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #fff;
    // box-shadow: 0px 12px 19px -8px rgba(0, 0, 0, 0.73);
    // -webkit-box-shadow: 0px 12px 19px -8px rgba(0, 0, 0, 0.73);
    // -moz-box-shadow: 0px 12px 19px -8px rgba(0, 0, 0, 0.73);
    :first-child {
        cursor: pointer;
        &:hover {
            color: #ff1d58;
        }
    }
    :not(:first-child) {
        color: #0049b7;
    }

    li {
        display: inline-block;
        padding-right: 5px;
        font-size: 20px;
        font-weight: 400;
    }

    .Header_nav_icon {
        padding-left: 5px;
        font-weight: 200;
        color: #ff1d58;
    }
}
