// color
$primary: #ff1d58;
$secondary: #bf1650;
$black: #000;
$white: #fff;
$text-color: #232323;
$bground: #fbfbfb;

$brutaBlue: #0049b7;
$blueLight: #00ddff;
$purplePain: #8458b3;
$heavyPurple: #a28089;
$iceCold: #a0d2eb;
$darkPurple: #494d5f;
$crownYellow: #fff685;
$brightGreen: #beef00;

// button
$borderEEE: 1px solid #eee;
